# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven
target/

# eclipse
.classpath
.project
.settings/
build/

# OS Files
Thumbs.db
.DS_Store



#Secret
src/main/resources/credentials.json
bin/main/resources/credentials.json
/tokens/